.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
    visibility: hidden;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:30px;
    color:#ccc;
}
.rate.action:not(:checked) > label{
    cursor:pointer;
}
.rate:not(:checked) > label:before {
    /* content: '★ '; */
    /* content: '☆'; */
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
/* .rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
} */

/* disabled */
.rate.action:not(:checked) > label:hover,
.rate.action:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked:enabled + label:hover,
.rate > input:checked:enabled + label:hover ~ label,
.rate > input:checked:enabled ~ label:hover,
.rate > input:checked:enabled ~ label:hover ~ label,
.rate > label:hover ~ input:checked:enabled ~ label {
    color: #c59b08;
}
